.second-container {
    width: 60%;
    background-color: $aside-background;
    padding-top: 48px;

    @include break (800px) {
        display: none;
    }

    .app-aside {  
        height: 900px;      
        .app-section {
            display: flex;
            flex-direction: column;
    
            .imgContainer1 {
                display: flex;
                position: relative;

                &__img {
                    &--card-squared {
                        position: absolute;
                        right: 0;
                        top: 120px;
                    }
                }
            }

            .imgContainer2 {
                &__img {
                    &--card-horizontal {
                        position: relative;
                        bottom: 220px;
                        right: 30px;
                    }
                }
            }
    
        }
    
        .info-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
            bottom: 205px;

            &__headline {
                display: initial !important;
                width: 480px;
                height: 42px;
                top: 630px;
                
                @include font (700, 32px, 42px, 0.1px);
            
                display: flex;
                align-items: center;
                text-align: center;
            
                color: $white;
            }
    
            &__text {
                width: 480px;
                padding-top: 16px;
                text-align: center;

                @include font (400, 14px, 20px, 0.1px);
            
                display: flex;
                align-items: center;
            
                color: $white;
            }
    
            &__slider-buttons {
                display: flex;
                position: relative;
                top: 40px;
    
                .fa-circle {
                    padding: 8px;
                    width: 8px;
                    height: 8px;
                
                    color: $white;
                    opacity: 0.3;
                }
                
                .white {
                    opacity: 1;
                }
                
            }
        }
    }
}

