.app-main {
    margin-top: 128px;
    &__headline {
        width: 350px;
        height: 82px;
        margin: 0;
    
        @include font(700, 60px, 82px, 0.1px);
        color: #2B2B43;
    }

    &__help {
        position: relative;
        top: 16px;
        display: block;
        width: 350px;
        height: 40px;
        
        @include font (400, 14px, 20px, 0.1px);
    
        color: $info-text;
    }

    .form {
        position: relative;
        top: 32px;

        &__label-email {
            @include font (600, 12px, 16px, 0px);
        
            color: $label-color;
        }

        &__label-password {
            @include font (600, 12px, 16px, 0px);
        
            color: $label-color;
            position: relative;
            top: 28px;
        }

        &__input {
            display: block;
            width: 350px;
            padding: 12px;
        
            border: 1px solid $input-border;
            box-sizing: border-box;
            border-radius: 8px;
        }
        .password {
            position: relative;
            top: 30px;
        }

        .fa-eye {
            position: relative;
            left: 260px;
            top: 65px;
            z-index: 1;
            color: $input-border !important;
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 50px;

            &__logged {
                height: $checkbox-size;
                width: $checkbox-size;
    
                border: 2px solid $input-border;
                box-sizing: border-box;
                border-radius: 4px;
            }
    
            &__text {
                @include font (400, 14px, 20px, 0.1px);
    
                color: #2B2B43;
            }
        }

        

        &__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 16px;

            &--login {
                position: relative;
                width: 350px;
                height: 44px;
                top: 88px;
            
            
                background: $blue;
                border: 1px solid $blue;
                box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
                border-radius: 8px;
                transition: all .2s;

                &:hover {
                    background-color: $white;
                }
            }

            &--forgot {
                position: relative;
                width: 350px;
                height: 44px;
                top: 100px;
            
                background: transparent;
                border: none;
            }

            &--login-text {
                @include font (700, 14px, 20px, 0.3px);
                color: $white;
                transition: all .2s;

                &:hover {
                    color: $blue;
                }
            }

            &--forgot-text {
                @include font (700, 14px, 20px, 0.3px);
                color: $blue;
                transition: all .5s;

                &:hover {
                    border-bottom: 1px solid $blue;
                }
            }
        }
    }
} 

.app-footer {
    width: 350px;
    margin-top: 290px;

    &__text {
        @include font (400, 14px, 20px, 0px);
    
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.1px;
    
        color: $info-text;

        &--link {
            text-decoration: none;
            color: $blue;
        }
    }
}