* {
    margin: 0;
    font-family: 'Nunito';
}

.login-body {
    display: flex;

    @include break (800px) {
        padding: 0 15px 15px;
    }
}

.first-container {
    width: 40%;
    padding: 20px 225px 0 165px;
    height: fit-content;

    @include break (800px) {
        width: 350px;
        padding: 15px;
        margin: 0 auto;
    }
    @include break (620px) {
        width: 350px;
        padding: 0 auto;
    }

    .app-header {   
        &__logo {
            display: inline-block;
            width: 47.6px;
            height: 15.37px;
            text-decoration: none;
            color: #2B2B43;
            font-weight: 800;
    
            &--delivery {
                color: $blue;
            }
        }
    } 
}
