@mixin font ($weight, $size, $height, $spacing) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;  
    letter-spacing: $spacing;
}

@mixin break ($width){
    @media (max-width: $width) {
        @content;
    }
}