.app-main {
  margin-top: 128px;
}
.app-main__headline {
  width: 350px;
  height: 82px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}
.app-main__help {
  position: relative;
  top: 16px;
  display: block;
  width: 350px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
}
.app-main .form {
  position: relative;
  top: 32px;
}
.app-main .form__label-email {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #545563;
}
.app-main .form__label-password {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #545563;
  position: relative;
  top: 28px;
}
.app-main .form__input {
  display: block;
  width: 350px;
  padding: 12px;
  border: 1px solid #C7C8D2;
  box-sizing: border-box;
  border-radius: 8px;
}
.app-main .form .password {
  position: relative;
  top: 30px;
}
.app-main .form .fa-eye {
  position: relative;
  left: 260px;
  top: 65px;
  z-index: 1;
  color: #C7C8D2 !important;
}
.app-main .form .checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 50px;
}
.app-main .form .checkbox-container__logged {
  height: 20px;
  width: 20px;
  border: 2px solid #C7C8D2;
  box-sizing: border-box;
  border-radius: 4px;
}
.app-main .form .checkbox-container__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}
.app-main .form__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
}
.app-main .form__button--login {
  position: relative;
  width: 350px;
  height: 44px;
  top: 88px;
  background: #4E60FF;
  border: 1px solid #4E60FF;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  transition: all 0.2s;
}
.app-main .form__button--login:hover {
  background-color: white;
}
.app-main .form__button--forgot {
  position: relative;
  width: 350px;
  height: 44px;
  top: 100px;
  background: transparent;
  border: none;
}
.app-main .form__button--login-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: white;
  transition: all 0.2s;
}
.app-main .form__button--login-text:hover {
  color: #4E60FF;
}
.app-main .form__button--forgot-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #4E60FF;
  transition: all 0.5s;
}
.app-main .form__button--forgot-text:hover {
  border-bottom: 1px solid #4E60FF;
}

.app-footer {
  width: 350px;
  margin-top: 290px;
}
.app-footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #545563;
}
.app-footer__text--link {
  text-decoration: none;
  color: #4E60FF;
}

* {
  margin: 0;
  font-family: "Nunito";
}

.login-body {
  display: flex;
}
@media (max-width: 800px) {
  .login-body {
    padding: 0 15px 15px;
  }
}

.first-container {
  width: 40%;
  padding: 20px 225px 0 165px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 800px) {
  .first-container {
    width: 350px;
    padding: 15px;
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .first-container {
    width: 350px;
    padding: 0 auto;
  }
}
.first-container .app-header__logo {
  display: inline-block;
  width: 47.6px;
  height: 15.37px;
  text-decoration: none;
  color: #2B2B43;
  font-weight: 800;
}
.first-container .app-header__logo--delivery {
  color: #4E60FF;
}

.second-container {
  width: 60%;
  background-color: #697BFF;
  padding-top: 48px;
}
@media (max-width: 800px) {
  .second-container {
    display: none;
  }
}
.second-container .app-aside {
  height: 900px;
}
.second-container .app-aside .app-section {
  display: flex;
  flex-direction: column;
}
.second-container .app-aside .app-section .imgContainer1 {
  display: flex;
  position: relative;
}
.second-container .app-aside .app-section .imgContainer1__img--card-squared {
  position: absolute;
  right: 0;
  top: 120px;
}
.second-container .app-aside .app-section .imgContainer2__img--card-horizontal {
  position: relative;
  bottom: 220px;
  right: 30px;
}
.second-container .app-aside .info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 205px;
}
.second-container .app-aside .info-section__headline {
  display: initial !important;
  width: 480px;
  height: 42px;
  top: 630px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
.second-container .app-aside .info-section__text {
  width: 480px;
  padding-top: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  color: white;
}
.second-container .app-aside .info-section__slider-buttons {
  display: flex;
  position: relative;
  top: 40px;
}
.second-container .app-aside .info-section__slider-buttons .fa-circle {
  padding: 8px;
  width: 8px;
  height: 8px;
  color: white;
  opacity: 0.3;
}
.second-container .app-aside .info-section__slider-buttons .white {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */